<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="Resistence">
    <Require feature="rpc"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
<!DOCTYPE html>
<!-- The hangout API JavaScript. Always include this first -->
<script src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- The JavaScript for this app. This must always be a full URL not a
     relative path.
     Tip: You can load it from a local web server such as
     http://localhost/app.js for faster single user development -->
<script src="//resistence-1094.appspot.com/static/app.js"></script>

<div id="game_setup_top">
  <img id="title_image">
  <div id="game_start">
    <button id="start_game_button" type="button">
      Start Game!
    </button>
    <p id="non_master_text"></p>
    <p>Number of players: <span id="participants">xx</span></p>
  </div>
</div>

<div id="game_board">
  <table>
    <tr>
      <td>
        <div id="player-2">
          <p class="name">NAME</p>
          <img class="crown">
          <input type="checkbox" class="check" />
        </div>
      </td>
      <td align="center" class="center_column">
        <div id="player-3">
          <p class="name">NAME</p>
          <img class="crown">
          <input type="checkbox" class="check"/>
        </div>
      </td>
      <td>
        <div id="player-4">
          <p class="name">NAME</p>
          <img class="crown">
          <input type="checkbox" class="check"/>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="player-1">
          <p class="name">NAME</p>
          <img class="crown">
          <input type="checkbox" class="check"/>
        </div>
      </td>
      <td align="center" class="center_column">
        <img id="main_image">
      </td>
      <td>
        <div id="player-5">
          <p class="name">NAME</p>
          <img class="crown">
          <input type="checkbox" class="check"/>
        </div>
      </td>
    </tr>
  </table>
</div>

<div id="votingResult">
  Voting Result
  <table style="width:100%">
    <tr>
      <th>Yes</td>
      <th>No</td> 
    </tr>
    <tr>
      <th><div id="yes"></div></td>
      <th><div id="no"></td> 
    </tr>
  </table>
  <button id="confirm_voting_result_button" type="button">Confirm</button>
</div>

<div id="control_panel">
  <div id="game_information">
    <table border="1">
      <tr>
        <td width="30%">
          <div id="player-0">
            <p class="name">NAME</p>
            <img class="crown">
            <input type="checkbox" class="check"/>
          </div>
        </td>
        <td width="70%">
          <p>You are a <span id="role">ROLE</span></p>
          <p id="flavor">FLAVOR TEXT</p>
          <div id="leader">
            <button id="updateTeam" type="button">Confirm Team!</button>
            <p id="leader_status"></p>
          </div>
          <div id="voteParticipants">
            <button type="button">Reject!</button>
            <button type="button">Accept!</button>
          </div>
          <div id="mission">
            <button id="missionFail" type="button">Fail!</button>
            <button id="missionPass" type="button">Pass!</button>
          </div>
          <button type="button">Show Game Log</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<link type="text/css" rel="stylesheet"
      href="//resistence-1094.appspot.com/static/global.css" />

]]></Content>
</Module>
