<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="Resistence">
    <Require feature="rpc"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
<!DOCTYPE html>
<!-- The hangout API JavaScript. Always include this first -->
<script src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- The JavaScript for this app. This must always be a full URL not a
     relative path.
     Tip: You can load it from a local web server such as
     http://localhost/app.js for faster single user development -->
<script src="//resistence-1094.appspot.com/static/app.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div id="initial_game_state">
  <img id="title_image">
  <div id="game_start">
    <button id="start_game_button" class="btn btn-success" type="button">
      Start Game!
    </button>
    <p id="non_master_text"></p>
    <p>Number of players: <span id="participants">xx</span></p>
  </div>
</div>

<div id="game_board">
  <div id="left_panel">
    <div id="circle_styler">
      <img id="main_image">
      <div id="circle-1" class="circle"></div>
      <div id="circle-2" class="circle"></div>
      <div id="circle-3" class="circle"></div>
      <div id="circle-4" class="circle"></div>
      <div id="circle-5" class="circle"></div>
    </div>
  </div>

  <div id="right_panel">
    <div class="row" id="players_wrapper">
    </div>

    <div id="game_information">
      <table class="table">
        <tr>
          <td width="20%" id="self">
          </td>
          <td width="80%">
            <p>You are a <span id="role">ROLE</span></p>
            <p id="flavor">FLAVOR TEXT</p>
            <div id="leader">
              <button id="confirmTeam" type="button" class="btn btn-success">Confirm Team!</button>
              <p id="leader_status"></p>
            </div>
            <div id="voteParticipants">
              <button type="button" id="acceptButton" class="btn btn-success">Accept!</button>
              <button type="button" id="rejectButton" class="btn btn-danger">Reject!</button>
            </div>
            <div id="mission">
              <button id="missionFail" type="button" class="btn btn-danger">Fail!</button>
              <button id="missionPass" type="button" class="btn btn-success">Pass!</button>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <center><div id="votingResult">
      <h2> Voting Result: <span id="result"></span></h2>
      <table>
        <tr>
          <th>Yes</th>
          <th>No</th> 
        </tr>
        <tr>
          <td><div id="yes"></div></td>
          <td><div id="no"></div></td> 
        </tr>
      </table>
      <button id="confirm_voting_result_button" type="button" class="btn btn-success">Confirm</button>
    </div></center>

    <center><div id="missionResult">
      <h2> Mission Result: <span id="number_fails">xx</span></h2>
      <button id="confirm_mission_result_button" type="button" class="btn btn-success">Confirm</button>
    </div></center>

    <div id="end_game_state">
      <div>
        <h2><div id="game_result"></div></h2>
      </div>
      <button type="button" class="btn btn-success" id="restart">Restart</button>
    </div>

  </div>
</div>


<link type="text/css" rel="stylesheet"
      href="//resistence-1094.appspot.com/static/global.css" />

]]></Content>
</Module>
