<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="Resistence">
    <Require feature="rpc"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
<!DOCTYPE html>
<!-- The hangout API JavaScript. Always include this first -->
<script src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- The JavaScript for this app. This must always be a full URL not a
     relative path.
     Tip: You can load it from a local web server such as
     http://localhost/app.js for faster single user development -->
<script src="//resistence-1094.appspot.com/static/app.js"></script>

<div id="game_setup_image" height="70%" style="text-align: center;">
  <img id="title_image" src="http://futileposition.com/wp-content/uploads/2012/08/Resistance-Avalon.png">
</div>

<div id="game_board" height="70%" width="100%">
  <table>
    <tr>
      <td>
        <img class="player" src="http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-hi.png">
      </td>
      <td align="center" class="center_column">
        <img class="player" src="http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-hi.png" style=>
      </td>
      <td>
        <img class="player" src="http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-hi.png">
      </td>
    </tr>
    <tr>
      <td>
        <img class="player" src="http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-hi.png">
      </td>
      <td align="center" class="center_column">
        <img id="main_image" src="http://ecx.images-amazon.com/images/I/81rl6UWZd7L._SL1500_.jpg">
      </td>
      <td>
        <img class="player" src="http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-hi.png">
      </td>
    </tr>
  </table>
</div>

<div id="control_panel">
  <div id="game_start">
    <button id="start_game_button" onclick="assignRoles();" type="button">Start Game!</button>
    <p>Number of players: <span id="participants">xx</span></p>
  </div>
  <div id="game_information">
    <table border="1">
      <tr>
        <td width="30%">
          <div id="player-me">
            <img class="player">
            <p id="name">NAME</p>
            <div class="crown"></div>
          </div>
        </td>
        <td width="70%">
          <p>You are a <span id="role">ROLE</span></p>
          <p id="flavor">FLAVOR TEXT</p>
          <button type="button">Show Game Log</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<link type="text/css" rel="stylesheet"
      href="//resistence-1094.appspot.com/static/global.css" />

]]></Content>
</Module>
